:root {
    --thisPurpleGradient: linear-gradient(#361e39,#8739FF);
    --thisGray:#A39DA9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto;
}

.upperPurpleThing{
    height: 70vh;
    width: 50%;
    position: relative;
    background: var(--thisPurpleGradient);
    border-radius: 0px 0px 600px 0px;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
}

.miniPhone{
    width: 247px;
    height: 540px;
    position: relative;
    background-color: white;
    margin: 40px auto 0;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto, auto, auto;
    padding: 10px;
}

.chatHeader{
    grid-row: 1;
    display: grid;
    height: 60px;
    padding-bottom: 5px;
    background: linear-gradient(to right,#8739FF,#E844FF);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    
}

.whiteMark{
    height: 20px;
    width: 150px;
    background-color: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 0 auto;
}

.userData{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    border: 2px solid white; 
    top: 10px; 
    left: 10px; 
}

i{
    color:white;
}

.userNameAndStatus{
    color: white;
}

.userNameAndStatus h2{
    font-weight: normal;
    font-size: 10px;
    color: #D99EFF;
}

.mainChatContent{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.firstUserTextCloud{
    background-color: #EEE5F4;
    color: #9341C8;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-start;
}

.imgGallery{
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.imgFromGallery{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.secondUserTextCloud{
    background-color: white;
    box-shadow: 2px;
    color: #6E5D7E;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
}

.priceCloud{
    width: 160px;
    height: 32px;
    background: linear-gradient(to right,#E844FF,#8739FF);
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.checkBox{
  width: 12px;
  height: 12px;
  background-color: #D8D8D8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

.fillOfCheckbox{
    width: 10px;
    height: 10px;
    background-color: #E472FF;
    border-radius: 20px;
}

.priceCloudWalkText{
    color: white;
}

.priceCloudDollarText{
    color: white;
    font-weight: bolder;
    
}

.messageSender{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.messageSender p{
    color: #C5C9CC;
    padding: 10px;
}

.messageSender button{
    background-color: #3E2753;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    padding-top: 1px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.mainH1{
    font-size: 4em;
    text-align: center;
    grid-row: 2;
}

.mainP{
    font-size: 1.6em;
    text-align: center;
    grid-row: 3;
    color: var(--thisGray);
    width: 80%;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
}