:root {
    --thisPurpleGradient: linear-gradient(#E844FF,#8739FF);
    --thisGray:#A39DA9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

.mainGrid{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto;
    
}

.upperPurpleThing{
    height: 60vh;
    width: 60%;
    position: relative;
    background: var(--thisPurpleGradient);
    border-radius: 0px 0px 255px;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
}

.miniPhone{
    width: 247px;
    height: 505px;
    position: relative;
    background-color: white;
    margin: 40px auto 0;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto, auto, auto;
    padding: 10px;
}

.chatHeader{
    grid-row: 1;
    display: grid;
    height: 75px;
    background: linear-gradient(to right,#8739FF,#E844FF);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    
}

.whiteMark{
    height: 20px;
    width: 150px;
    background-color: white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 0 auto;
}

.userData{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    border: 2px solid white; 
    top: 10px; 
    left: 10px; 
}

i{
    color:white;
}

.userNameAndStatus{
    color: white;
}

.userNameAndStatus h2{
    font-weight: normal;
    font-size: 10px;
    color: #D99EFF;
}

.mainChatContent{
    display: flex;
    flex-direction: column;
}


.mainH1{
    font-size: 4em;
    text-align: center;
    grid-row: 2;
}

.mainP{
    font-size: 1.6em;
    text-align: center;
    grid-row: 3;
    color: var(--thisGray);
    width: 80%;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
}